@import "variables";

@font-face {
  font-family: 'property-icons';
  src:  url('#{$icomoon-font-path}/property-icons.eot?jniqut');
  src:  url('#{$icomoon-font-path}/property-icons.eot?jniqut#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/property-icons.ttf?jniqut') format('truetype'),
    url('#{$icomoon-font-path}/property-icons.woff?jniqut') format('woff'),
    url('#{$icomoon-font-path}/property-icons.svg?jniqut#property-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'property-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-church {
  &:before {
    content: $icon-church;
  }
}
.icon-bungalow {
  &:before {
    content: $icon-bungalow;
  }
}
.icon-caravan {
  &:before {
    content: $icon-caravan;
  }
}
.icon-farm {
  &:before {
    content: $icon-farm;
  }
}
.icon-flat {
  &:before {
    content: $icon-flat;
  }
}
.icon-house {
  &:before {
    content: $icon-house;
  }
}
.icon-land {
  &:before {
    content: $icon-land;
  }
}
.icon-semi-detached-house {
  &:before {
    content: $icon-semi-detached-house;
  }
}
.icon-terrace {
  &:before {
    content: $icon-terrace;
  }
}

