@font-face {
  font-family: 'property-icons';
  src:  url('fonts/property-icons.eot?jniqut');
  src:  url('fonts/property-icons.eot?jniqut#iefix') format('embedded-opentype'),
    url('fonts/property-icons.ttf?jniqut') format('truetype'),
    url('fonts/property-icons.woff?jniqut') format('woff'),
    url('fonts/property-icons.svg?jniqut#property-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'property-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-church:before {
  content: "\e900";
}
.icon-bungalow:before {
  content: "\e901";
}
.icon-caravan:before {
  content: "\e902";
}
.icon-farm:before {
  content: "\e903";
}
.icon-flat:before {
  content: "\e904";
}
.icon-house:before {
  content: "\e905";
}
.icon-land:before {
  content: "\e906";
}
.icon-semi-detached-house:before {
  content: "\e907";
}
.icon-terrace:before {
  content: "\e908";
}
