$icomoon-font-path: "fonts" !default;

$icon-church: "\e900";
$icon-bungalow: "\e901";
$icon-caravan: "\e902";
$icon-farm: "\e903";
$icon-flat: "\e904";
$icon-house: "\e905";
$icon-land: "\e906";
$icon-semi-detached-house: "\e907";
$icon-terrace: "\e908";

